.btn {
  color: #494949 !important;
  background: #ffffff;
  border: 2px solid #494949 !important;
  transition: all 0.4s ease 0s;
  height: 40px;
}

.btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.commentaires {
<<<<<<< HEAD
  color: rgb(179, 178, 178);
  border: solid 1px black;
  padding: 50px 50px 0px 40px;
  width: 83%;
  margin-left: 6%;
=======
  margin-left: auto;
  margin-right: auto;
  color: rgb(179, 178, 178);
  border: solid 1px black;
  padding: 50px 50px 0px 40px;
>>>>>>> 367c1d025deeb412529f2d9bc81f73eff726d3d8
}

.listMessage {
  list-style: none;
}

.input {
  margin-right: 30px;
}
<<<<<<< HEAD

.message {
  display: flex;
}
=======
>>>>>>> 367c1d025deeb412529f2d9bc81f73eff726d3d8
