.btn {
  color: #494949 !important;
  background: #ffffff;
  border: 2px solid #494949 !important;
  transition: all 0.4s ease 0s;
  height: 40px;
}

.btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.commentaires {
  color: rgb(179, 178, 178);
  border: solid 1px black;
  padding: 50px 50px 0px 40px;
  width: 83%;
  margin-left: 6%;
}

.listMessage {
  list-style: none;
}

.input {
  margin-right: 30px;
}

.message {
  display: flex;
}

.userPhoto {
  height: 50px;
  width: 50px;
}