.fullpage-overflow {
  overflow: hidden;
}

.fullPage {
  background: #FAF0E1;
  height: 100vh;
  overflow: scroll;
}

.bannerHome {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .2)), url("/img/cocktail-homepage.jpeg");
  background-position: center center;
  margin-bottom: 50px;

  >div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: #fff;
  }

  h2 {
    color: #fff;
    font-family: "Niconne", cursive;
  }

  .arrow {
    padding: 20px;
    cursor: pointer;

    i {
      color: #fff;
    }
  }
}

#cocktailContent {
  position: relative;
  padding-top: 40px;
  height: 100vh;

  h3 {
    margin: 0 0 75px 0;
    font-size: 55px;
    color: #ffb200;
    font-family: "Baloo Bhai", cursive;
    text-transform: uppercase;
  }
}

.fullcocktail {
  display: grid;
  grid-template-columns: auto auto auto;
  /*HEIGHT IS IMPORTANT, PLEASE INFORM ME IF YOU CHANGE IT, THANKS, PH */
  height: 77vh;
  width: 100vw;
  z-index: 1;
}

.fullPageHeader {
  // z-index: 3;
  margin: 0 40vw;
  background: transparent;
  padding: 7px;
  z-index: 6 !important;
  width: 250px;
}

.fullPageHeader,
.blurEffect {
  top: 0;
  position: sticky;
  // backdrop-filter: blur(5px);
  text-align: center;
}

.blurEffect {
  z-index: 2;
  width: 100vw;
  margin-top: -60px;
  height: 8vh;
  backdrop-filter: blur(6px);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  background: rgba(250, 240, 225, 0.3);
}

.searchBarHome {
  color: orange;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
}

::placeholder {
  color: black;
}