.cocktailView {
  background: #FAF0E1;
}

.cocktailView {
  padding-top: 50px;
  display: flex;

  .fullCocktailContainer {
    width: 75%;

    .title {
      display: block;
      font-size: 2.5em;
      color: orange;
      font-family: "Baloo Bhai", cursive;
      text-transform: uppercase;
    }

    .oneCocktail {
      background: url(../images/test6.jpg);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-shadow: 4px 4px 3px 3px grey;
      margin: 5%;
      padding: 5%;
      margin-top: 1%;
      padding-top: 1%;

      .imageAndInfoContainer {
        display: flex;

        align-items: stretch;

        .fullInstructions {
          width: 50%;
          color: grey;
          height: auto;
          border: solid 1px black;
          padding: 0 auto;
          margin: 0;

          .whatDoINeed,
          .howDoIMakeIt {
            display: block;
            color: orange;
            font-family: "Baloo Bhai", cursive;
            text-transform: uppercase;
            font-size: 20px;

            .fullIngredients {
              display: flex;

              .measures,
              .ingredients {
                float: left;
                margin-left: 20px;
                font-size: 13px;
              }
            }
          }
        }

        .oneCocktailImageContainer {
          width: 50%;


          .oneCocktailImage {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 600px) {
  .oneCocktail {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imageAndInfoContainer {
      flex-direction: column;

      .oneCocktailImageContainer,
      .fullInstructions,
      .oneCocktailImage {
        width: 100% !important;
        height: auto;
      }
    }
  }
}


@media only screen and (max-width : 600px) {}