.cocktailView {
  padding: 50px 0;

  .titre {
    display: block;
    margin: 0 0 50px 0;
    font-size: 27px;
    color: rgb(138, 138, 138);
  }

  .onecocktail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
      flex: 1;
      padding: 0 20px;
    }
  }
}

.OneCocktailImage {
  width: 400px;
  height: 400px;
}


.FullInstructions {
  margin-left: auto;
  margin-right: auto;
  color: rgb(179, 178, 178);
}

.Measures .Ingredients {
  float: left;
  margin-left: 20px;
  font-size: 13px;
}

/* .Ingredients {	
  margin-left: 100px	
} */

.how {
  margin-top: 50px;
}
.what {
  margin-top: 50px;
}
/* .Measures {
  position: absolute;
  top: 250px;
} */

.full-ingredients {
  display: flex;
  justify-content: center;
}
