li {
  list-style-type: none;
}

.cocktailView {
  background: #FAF0E1;
  padding-top: 50px;
  display: flex;

  .fullCocktailContainer {
    width: 75%;

    .title {
      display: block;
      font-size: 2.5em;
      color: orange;
      font-family: "Baloo Bhai", cursive;
      text-transform: uppercase;
    }

    .oneCocktail {
      background: black;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-shadow: 4px 4px 3px 3px grey;
      margin: 5%;
      padding: 5%;
      margin-top: 1%;
      padding-top: 1%;

      .imageAndInfoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .fullInstructions {
          display: flex;
          flex-direction: column;
          align-items: space-evenly;
          width: 100%;
          color: white;
          height: auto;
          border: solid 1px white;
          padding: 0 auto;
          margin: 0;
          max-width: 400px;


          .instructions {
            padding: 0 20%;
          }

          .whatDoINeed,
          .howDoIMakeIt {
            display: block;
            color: orange;
            font-family: "Baloo Bhai", cursive;
            text-transform: uppercase;
            font-size: 1.3em;

            .fullIngredients {
              display: flex;

              .measures,
              .ingredients {
                font-size: 1em;
              }
            }
          }
        }

        .oneCocktailImageContainer {
          width: 100%;
          max-width: 400px;


          .oneCocktailImage {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1100px) {
  .oneCocktail {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imageAndInfoContainer {
      display: flex !important;
      flex-direction: column;

      .oneCocktailImageContainer,
      .fullInstructions,
      .oneCocktailImage {
        width: 100% !important;
        height: auto;
      }
    }
  }
}