.OneCocktailImage {
  width: 400px;
  height: 400px;
}

.test {
  height: 10px;
  width: 10px;
}

.titre {
  font-weight: bolder;
  margin-top: 20px;
  color: rgb(138, 138, 138);
}

.FullInstructions {
  margin-left: auto;
  margin-right: auto;
  color: rgb(179, 178, 178);
  border: solid 1px black;
}

.Measures .Ingredients {
  float: left;
  margin-left: 20px;
  font-size: 13px;
}

.FullInstructions {
  margin-left: auto;
  margin-right: auto;
  color: rgb(179, 178, 178);
  border: solid 1px black;
  padding: 50px 50px 0px 40px;
}

/* .Ingredients {
    margin-left: 20px;
} */

/* .Ingredients {	
  margin-left: 100px	
} */


.how {
  margin-top: 50px;
}


.what {
  margin-top: 50px;

}

/* .Measures {
  position: absolute;
  top: 250px;
} */


.ingredient {
  font-weight: lighter;
  float: left;
  margin-left: 30px;
}


/* .Measures {
    padding: 0;
    font-style: italic;
} */

.full-ingredients {
  display: flex;
  justify-content: center;
}

.full-ingredients {
  display: flex;
  justify-content: center;
}