.user-cocktail-list {
  display: flex;
  // width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  .user-cocktail-container {
    /* border: 1px solid; */
    // width: 25%;
    font-size: 1.5em;
  }
}
