.user-profile-container {
  // width: 100%;
  padding-top: 5%;
  // display: flex;
  .UserProfilContainer {
    height: 100vh;
    width: 25%;
    // border: 1px solid grey;
  }
  .userCardContainer {
    width: 50%;
    margin: 23px;
    text-align: left;
    .userCard {
      padding: 3%;
    }
  }
  .fa-plus {
    display: inline-block;
    background: #ffb200;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-transform: uppercase;
  }
}
.UserPhotoProfile {
  width: 33%;
  border-radius: 50%;
}
.user-cocktail-list {
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  margin: 3% 3% 3% 3%;
  .user-cocktail-container {
    width: 33%;
    img {
      width: 33%;
      border-radius: 50%;
    }
  }

  .measure-ingredient-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
    }
  }
}
